---
title: Projects
heading: Projects
description: Here is a collection of my mech keys projects.
---
<!--<div class="text editable">
{% for project in site.projects %}
  <div class="project">
    <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
  </div>
{% endfor %}
</div>-->
<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_projects/" class="btn"><strong>&#9998;</strong> Manage Clients</a></p>
		<ul class="image-grid">
			{% for project in site.projects %}
				<li>
					<a href="{{ site.baseurl }}{{ project.url }}">
						<img src="{% include relative-src.html src=project.image_path %}" alt="{{ person.name }}">
						<div class="details">
							<div class="name">{{ project.title }}</div>
							<div class="position">{{ project.description }}</div>
						</div>
					</a>
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
</section>
