---
title: PROJECTS
heading: PROJECTS
description:
---
<!--<div class="text editable">
{% for project in site.projects %}
  <div class="project">
    <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
  </div>
{% endfor %}
</div>-->
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_projects/" class="btn"><strong>&#9998;</strong> Manage Clients</a></p>
		<ul class="image-grid">
			{% assign sorted = (site.projects | sort: 'date' %}
			{% for project in sorted %}
				<li>
					<a href="{{ site.baseurl }}{{ project.url }}">
						<img src="{% include relative-src.html src=project.image_path %}" alt="{{ person.name }}">
					</a>
					<div class="details">
						<a href="{{ site.baseurl }}{{ project.url }}">
							<div class="name">{{ project.title }}</div>
						</a>
						<div class="position">{{ project.description }}</div>
						<br>
						<p class="projectdate">
						{{ project.date | date: "%b %-d, %Y"}}
						<span class="readmore" style="float:right;"><a href="{{ site.baseurl }}{{ project.url }}">READ MORE</a></span>
						</p>
					</div>
					
					
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>
	</div>
