{% for post in include.posts %}
	<li class="blog-post">
		
		{% include post-title.html post=post %}
		<div class="post-content">
			<div class="name"><a href="{% include relative-src.html src=post.url %}">{{ post.title }}</a></div>
			<div class="position">{{ post.excerpt }}</div>
			
			<div class="projectdate">
			{{ post.date | date: "%b %-d, %Y" }}
			<span class="readmore" style="float:right;"><a href="{% include relative-src.html src=post.url %}">READ MORE</a></span>
			</div>
		</div>
	</li>
{% endfor %}
