
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_posts/" class="btn"><strong>&#9998;</strong> Manage Clients</a></p>
		<ul class="image-grid">
			{% assign sorted = (site.posts | sort: 'date' %}
			{% for post in sorted %}
				<li>
				<a href="{{ site.baseurl }}{{ post.url }}">
						<img src="{% include relative-src.html src=posts.image_path %}" alt="{{ person.name }}">
					</a>
					<div class="details">
						<a href="{{ site.baseurl }}{{ post.url }}"><div class="name">{{ post.title }}</div></a>
						<div class="position">{{ post.description }}</div>
						<br><br>
						<div class="projectdate">
						{{ post.date | date: "%b %-d, %Y"}}
						<span class="readmore" style="float:right;"><a href="{{ site.baseurl }}{{ post.url }}">READ MORE</a></span>
						</div>
					</div>
					
					
				</li>
			{% endfor %}
			<li class="filler"></li>
			<li class="filler"></li>
		</ul>

