$brand-color: #64242E;
$secondary-brand-color: #26262A;
$third-brand-color: #26262A;
$middle-gradient-color: mix($secondary-brand-color, $third-brand-color, 95%);
$name-color: #FFA715;

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
